<h3>Shopping Cart</h3>
<div><strong>Number of items</strong>: {{ data.order.items.length }}</div>
<div><strong>Subtotal</strong>: {{ data.order.subtotal | currency:"AUD":true }}</div>
<table class="table lh-condensed table-hover">
    <thead>
        <tr>
            <td>Product</td>
            <td>Quantity</td>
            <td>Price</td>
            <td>Total</td>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let o of data.order.items">
            <td>{{ o.productCategory }} - {{ o.productTitle }}</td>
            <td>{{ o.quantity }}</td>
            <td>{{ o.unitPrice | currency:"AUD":true }}</td>
            <td>{{ (o.unitPrice * o.quantity) | currency:"AUD":true }}</td>
        </tr>
    </tbody>
</table>
<button class="btn btn-success" *ngIf="data.order.items.length > 0" (click)="onCheckout()">Checkout</button>